# Dependencies
node_modules/

# Build outputs
.next/
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# OS Metadata
.DS_Store
Thumbs.db
.vercel
